html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #FFF;
	color: #000;
	margin: 0;
	padding: 0;
	border: none;
	position: relative;
	overflow: hidden;
	font-family: "acumin-pro", Sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	max-width: 50rem;
	margin: auto;
}

.list_1  { background-image: url('images/logo/vvd.svg'); }
.list_2  { background-image: url('images/logo/pvv.svg'); }
.list_3  { background-image: url('images/logo/cda.svg'); }
.list_4  { background-image: url('images/logo/d66.svg'); }
.list_5  { background-image: url('images/logo/groenlinks-compact.svg'); }
.list_6  { background-image: url('images/logo/sp.svg'); }
.list_7  { background-image: url('images/logo/pvda.svg'); }
.list_8  { background-image: url('images/logo/png/christenunie.png'); }
.list_9  { background-image: url('images/logo/pvdd.svg'); }
.list_10 { background-image: url('images/logo/50plus.svg'); }
.list_11 { background-image: url('images/logo/png/sgp.png'); }
.list_12 { background-image: url('images/logo/denk.svg'); }
.list_13 { background-image: url('images/logo/fvd.svg'); }
.list_14 { background-image: url('images/logo/png/bij1.jpg'); }
.list_15 { background-image: url('images/logo/png/ja21.png'); }
.list_16 { background-image: url('images/logo/png/code-oranje.png'); }
